# {{ ansible_managed }}

{%- set dropbear_options = '-p ' + dropbear_options_port|string + ' -I ' + dropbear_options_timeout|string + ' ' -%}
{%- if not dropbear_options_passwordlogin -%}
	{%- set dropbear_options = dropbear_options + '-s ' -%}
{%- endif -%}
{%- if not dropbear_options_forwarding_local -%}
	{%- set dropbear_options = dropbear_options + '-j ' -%}
{%- endif -%}
{%- if not dropbear_options_forwarding_remote -%}
	{%- set dropbear_options = dropbear_options + '-k ' -%}
{%- endif -%}
{%- if dropbear_options_custom -%}
	{%- set dropbear_options = dropbear_options + dropbear_options_custom|string -%}
{% endif %}

DROPBEAR_OPTIONS="{{ dropbear_options }}"
